<!--
<div *ngIf="loading">
  <img  src="../assets/cargando.gif" alt="loading">
</div>
<div *ngIf="!loading">
<body class="text-center">
  <div class="form">
    <main class="form-signin">
      <form>
        <h1 class="h3 mb-3 fw-normal">Inicia Sesion</h1>
        <div class="form-floating">
          <input type="email" [(ngModel)]="user" class="form-control" id="floatingInput" placeholder="name@email.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" [(ngModel)]="pass" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <br>
        <button (click)="iniciar()" class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
        <br><br>
        <button (click)="crear()" class="w-100 btn btn-lg btn-primary" type="submit">Registrarse</button>
      </form>
    </main>
</div>   
</body>
</div>-->

<section class="login spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="login__form">
                  <h3>Inicio sesion</h3>
                  <form action="#">
                      <div class="input__item">
                        <input type="email" [(ngModel)]="user" class="form-control" id="floatingInput" placeholder="name@email.com">
                        <label style="color: white;" for="floatingInput">Email address</label>
                          <span class="icon_mail"></span>
                      </div>
                      <div class="input__item">
                        <input type="password" [(ngModel)]="pass" class="form-control" id="floatingPassword" placeholder="Password">
                        <label style="color: white;" for="floatingPassword">Password</label>
                          <span class="icon_lock"></span>
                      </div>
                      <button (click)="iniciar()" type="submit" class="site-btn">Inicia Sesion</button>
                  </form>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="login__register">
                  <h3>¿Todavia no tienes Cuenta?</h3>
                  <a style="color: white; cursor:pointer" class="primary-btn" (click)="crear()">Registrate Aquí</a>
              </div>
          </div>
      </div>
      <div class="login__social">
          <div class="row d-flex justify-content-center">
              <div class="col-lg-6">
                  
              </div>
          </div>
      </div>
  </div>
</section>