<cargando></cargando>
<section class="signup spad">
    <div class="container">
        <div class="row">
                <div class="login__form">
                    <h3>Registrate</h3>
                    <form action="#">
                        <div class="input__item">
                            <input type="email" [(ngModel)]="user" class="form-control" id="floatingInput" placeholder="name@email.com">
                        <label style="color: white;" for="floatingInput">Email address</label>
                            <span class="icon_mail"></span>
                        </div>
                        <div class="input__item">
                            <input type="password" [(ngModel)]="pass" class="form-control" id="floatingPassword" placeholder="Password">
                        <label style="color: white;" for="floatingPassword">Password</label>
                            <span class="icon_lock"></span>
                        </div>
                        <button type="submit" class="site-btn" (click)="crear()">Entrar</button>
                    </form>
                    <h5>¿Ya tienes una cuenta? <a href="#">Iniciar sesion</a></h5>
                </div>
        </div>
    </div>
</section>