<footer class="footer">
    <div class="page-up">
        <a (click)="arriba()" id="scrollToTopButton" style="color: white; cursor: pointer;"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li><a class="active" (click)="goInicio()">Inicio</a></li>
                        <li><a class="title" (click)="goContacto()">Contacto</a></li>
                    </ul>
                </div>
            </div>
            
          </div>
      </div>
  </footer> 