<cargando></cargando>
<app-encabezado></app-encabezado>
<section class="anime-details spad">
    <div class="container-xl" *ngIf="juegos">
        <div class="anime_details_content">
            <div class="row">
                <h1 style="color: white;">{{titulo}} <a (click)="goBack()" class="primary-btn"><span class="arrow_left"></span> Volver</a></h1> 
                <div id="img" class="col-lg-3">
                    <div class="anime_details_pic set-bg" style="background-image: url('{{imagen}}')">
                        <img src="{{imagen}}" alt="">
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="anime_details_text">
                        <div class="anime_details_title" style="color: white;">
                            {{titulo}}
                        </div>
                        <p style="color: white;"></p>
                        <p style="color: white;">{{descripcion}}</p>
                        <div class="anime_details_widget">
                            <div class="row">
                                <div class="col-lg-6 col-md-6" style="color: white;">
                                    <ul>
                                        <li><span>Categoria:</span> {{categoria}}</li>
                                        <li><span>precio:</span> {{precio}}</li>
                                        <li><span>Lanzamiento:</span> {{year}}</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li type="none"><span><img [ngClass]="{'siEs':favs, 'noEs':!favs}" (click)="setFavoritos()"
                                            src="https://firebasestorage.googleapis.com/v0/b/conexionconangular.appspot.com/o/estrella-vacia.png?alt=media&token=accafcdc-89b6-412d-8ea5-fc8c1b39f604"
                                            alt="imagenEstrella"></span> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--
    <section class="anime-details spad">
        <div class="container">
            <div class="anime_details_content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime_details_pic set-bg" data-setbg="img/anime/details-pic.jpg">
                            <div class="comment"><i class="fa fa-comments"></i> 11</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime_details_text">
                            <div class="anime_details_title">
                                <h3>Fate Stay Night: Unlimited Blade</h3>
                                <span>フェイト／ステイナイト, Feito／sutei naito</span>
                            </div>
                            <p>Every human inhabiting the world of Alcia is branded by a “Count” or a number written on
                                their body. For Hina’s mother, her total drops to 0 and she’s pulled into the Abyss,
                                never to be seen again. But her mother’s last words send Hina on a quest to find a
                            legendary hero from the Waste War - the fabled Ace!</p>
                            <div class="anime_details_widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Type:</span> TV Series</li>
                                            <li><span>Studios:</span> Lerche</li>
                                            <li><span>Date aired:</span> Oct 02, 2019 to ?</li>
                                            <li><span>Status:</span> Airing</li>
                                            <li><span>Genre:</span> Action, Adventure, Fantasy, Magic</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Scores:</span> 7.31 / 1,515</li>
                                            <li><span>Rating:</span> 8.5 / 161 times</li>
                                            <li><span>Duration:</span> 24 min/ep</li>
                                            <li><span>Quality:</span> HD</li>
                                            <li><span>Views:</span> 131,541</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="anime_details_btn">
                                <a href="#" class="follow-btn"><i class="fa fa-heart-o"></i> Follow</a>
                                <a href="#" class="watch-btn"><span>Watch Now</span> <i
                                    class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="anime_details_review">
                            <div class="section-title">
                                <h5>Reviews</h5>
                            </div>
                            <div class="anime_review_item">
                                <div class="anime_reviewitem_pic">
                                    <img src="img/anime/review-1.jpg" alt="">
                                </div>
                                <div class="anime_reviewitem_text">
                                    <h6>Chris Curry - <span>1 Hour ago</span></h6>
                                    <p>whachikan Just noticed that someone categorized this as belonging to the genre
                                    "demons" LOL</p>
                                </div>
                            </div>
                            <div class="anime_review_item">
                                <div class="anime_reviewitem_pic">
                                    <img src="img/anime/review-2.jpg" alt="">
                                </div>
                                <div class="anime_reviewitem_text">
                                    <h6>Lewis Mann - <span>5 Hour ago</span></h6>
                                    <p>Finally it came out ages ago</p>
                                </div>
                            </div>
                            <div class="anime_review_item">
                                <div class="anime_reviewitem_pic">
                                    <img src="img/anime/review-3.jpg" alt="">
                                </div>
                                <div class="anime_reviewitem_text">
                                    <h6>Louis Tyler - <span>20 Hour ago</span></h6>
                                    <p>Where is the episode 15 ? Slow update! Tch</p>
                                </div>
                            </div>
                            <div class="anime_review_item">
                                <div class="anime_reviewitem_pic">
                                    <img src="img/anime/review-4.jpg" alt="">
                                </div>
                                <div class="anime_reviewitem_text">
                                    <h6>Chris Curry - <span>1 Hour ago</span></h6>
                                    <p>whachikan Just noticed that someone categorized this as belonging to the genre
                                    "demons" LOL</p>
                                </div>
                            </div>
                            <div class="anime_review_item">
                                <div class="anime_reviewitem_pic">
                                    <img src="img/anime/review-5.jpg" alt="">
                                </div>
                                <div class="anime_reviewitem_text">
                                    <h6>Lewis Mann - <span>5 Hour ago</span></h6>
                                    <p>Finally it came out ages ago</p>
                                </div>
                            </div>
                            <div class="anime_review_item">
                                <div class="anime_reviewitem_pic">
                                    <img src="img/anime/review-6.jpg" alt="">
                                </div>
                                <div class="anime_reviewitem_text">
                                    <h6>Louis Tyler - <span>20 Hour ago</span></h6>
                                    <p>Where is the episode 15 ? Slow update! Tch</p>
                                </div>
                            </div>
                        </div>
                        <div class="anime_details_form">
                            <div class="section-title">
                                <h5>Your Comment</h5>
                            </div>
                            <form action="#">
                                <textarea placeholder="Your Comment"></textarea>
                                <button type="submit"><i class="fa fa-location-arrow"></i> Review</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="anime_details_sidebar">
                            <div class="section-title">
                                <h5>you might like...</h5>
                            </div>
                            <div class="product_sidebarview_item set-bg" data-setbg="img/sidebar/tv-1.jpg">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">Boruto: Naruto next generations</a></h5>
                            </div>
                            <div class="product_sidebarview_item set-bg" data-setbg="img/sidebar/tv-2.jpg">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                            </div>
                            <div class="product_sidebarview_item set-bg" data-setbg="img/sidebar/tv-3.jpg">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">Sword art online alicization war of underworld</a></h5>
                            </div>
                            <div class="product_sidebarview_item set-bg" data-setbg="img/sidebar/tv-4.jpg">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">Fate/stay night: Heaven's Feel I. presage flower</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
-->