.textos{
    height: 54%;
    flex-direction: column;
}
.siEs{
    width: 60px;
    height: 60px;
    background-color: darkorange;
}
.noEs{
    width: 60px;
    height: 60px;
    background-color: transparent;
}
.primary-btn{
    color: white;
    cursor: pointer;
}
.primary-btn:hover{
    color: aqua;
}
