<cargando></cargando>
<app-encabezado></app-encabezado>
<section class="login spad">
    <h2 style="color: white;">Rellena el formulario con tus datos</h2> 
    <h3 style="color: white;"> para participar en el sorteo</h3> 
    <a (click)="goBack()" class="primary-btn"><span class="arrow_left"></span> Volver</a> 
    <div class="container">
        <div class="row">
            <div class="login__form">
                <form action="#">
                    <table>
                        <tr class="mb-3">
                            <td>Nombre:</td>
                            <td><input class="form-control" type="text" [(ngModel)]="nombre" name="nombre" value=""
                                    size="25" maxlength="20" id="nombre" required></td>
                        </tr>
                        <tr class="mb-3">
                            <td>Apellidos:</td>
                            <td><input class="form-control" type="text" [(ngModel)]="apellidos" name="apellidos"
                                    value="" size="25" maxlength="20" id="apellidos" required>
                            </td>
                        </tr>
                        <tr class="mb-3">
                            <td>DNI:</td>
                            <td><input class="form-control" type="text" [(ngModel)]="dni" name="DNI" value="" size="25"
                                    maxlength="20" id="DNI" required>
                            </td>
                        </tr>
                        <tr class="mb-3">
                            <td>Añade una imagen:</td>
                            <td><input [(ngModel)]="imagen" type="file" id="imagensubida" name="imagensubida"
                                    accept="image/png, .jpeg, .jpg, image/gif">
                            </td>
                        </tr>
                        <tr class="mb-3">
                            <td>Selecciona tu sexo:</td>
                            <td><select [(ngModel)]="sexo" name="select">
                                    <option value="hombre">Hombre</option>
                                    <option value="mujer" selected>Mujer</option>
                                    <option value="otro">Otro</option>
                                </select></td>
                        </tr>
                        <tr class="mb-3">
                            <td>Fecha de Nacimiento: </td>
                            <td><input type="date" class="form-control" [(ngModel)]="fecha" name="Fecha inicio" value=""
                                    size="25" maxlength="20" id="fecha" required>
                            </td>
                        </tr>
                        <tr class="mb-3">
                            <td>Pulsa aqui para aceptar las cookies</td>
                            <td><input type="checkbox" [(ngModel)]="cookies" id="validarCk"></td>
                        </tr>
                        <br><br>
                        <tr class="mb-3">
                            <td>
                                <div class="enviar">
                                    <button class="btn btn-primary"  (click)="envio()" type="button"
                                        value="Enviar datos">Enviar
                                        datos</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>