
.container-xl{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
.siEs{
    width: 90px;
    height: 30px;
    color:rgb(255, 255, 255);
}
.noEs{
    width: 90px;
    height: 30px;
    border: solid 2px ;
    border-radius: 8px;
    border-color: lightskyblue;
    color: lightskyblue;
}
body{
    height: 560px;
}
img{
    height: 250px;
    width: 300px;
    border-radius: 8px;
}
.primary-btn{
    color: white;
    cursor: pointer;
}
.primary-btn:hover{
    color: aqua;
}