.header__logo{
    font-size: 35px;
}
.title{
    color: #b7b7b7;
}
.title:hover{
    color: white;
}
a{
    cursor: pointer;
}
.Log{
    cursor: pointer;
    color: #b7b7b7;
}
.Log:hover{
    color: white;
}
img{
    width: 90px;
}