
<header id="aqui" class="header">
  <div class="container">
      <div class="row">
          <div class="col-lg-2">
              <div class="header__logo">
                  <a (click)="goInicio()">
                  <img src="../../assets/mando.png" alt="mando">
                </a>
              </div>
          </div>
          <div class="col-lg-8">
              <div class="header__nav">
                  <nav class="header__menu mobile-menu">
                      <ul>
                          <li class="active" (click)="goInicio()"><a>Inicio</a></li>
                          <li><a class="title" >Categories <span class="arrow_carrot-down"></span></a>
                              <ul class="dropdown">
                                  <li  *ngFor="let category of videojuegos; index as i"><span (click)="goCat(videojuegos[i].categoria)"><a>{{category.categoria}}</a></span></li>
                                  </ul>
                          </li>
                          <li><a class="title" (click)="goContacto()">Contacto</a></li>
                          <li *ngIf="admin"><a class="title" (click)="goAdmin()">Administración</a></li>
                      </ul>
                  </nav>
              </div>
          </div>
          <div class="col-lg-2">
              <div class="header__right">
                  <a  class="search-switch"><span class="icon_search"></span></a>
                  <a href="#"(click)="goLog()"><span class="Log">Log Out</span></a>
                  <a ><span class="icon_profile"></span></a>
              </div>
          </div>
      </div>
      <div id="mobile-menu-wrap"></div>
  </div>
</header>